
<div class="container">
    <div class="toggle" *ngIf = "isInMobile">
            <a href="#"><i class="fas fa-bars"></i></a>
    </div>

    <input type="text" pInputText [(ngModel)]="searching" [style.margin-left]="isInMobile ? '0em' : '1em'" (ngModelChange)="searchTriggered()" placeholder="Busca lo que quieras" (keydown.enter)="save()">
    <a href="#" (click)="setVisibleFalse()" routerLink="/search" [queryParams]="{name: [searching]}" ><i class="fas fa-search fa-fw 2x"></i></a>
    
    <div class="search" [@collapse]="hidden">
        <nav>
            <ul id="list">
                <li *ngFor="let result of results">
                    <a routerLink="/search" (click)="setVisibleFalse()" [queryParams]="{name: [result.Nombre]}" class="name">{{result.Nombre}}</a>
                </li>
            </ul>
        </nav>
        
    </div>
</div>
