$primary: black;

.container {
    margin: auto;
}


header{
    background: $primary;
    padding: .6em 0;
    position: relative;

    a{
        color: white;
        text-decoration:  none;
        
    }

    .navbar{
        display: inline-flex;
        height: 100%;
        padding: 0px;
        a{
            padding:.5em;
            margin-right: 1em;
            border-radius: 30px;
            &:hover{
                background: white;
                color: black;
            }
        }
        a.logo{
            font-weight: bold;  
            align-self: center;
            height: 100%;
            padding: 0px;
            &:hover{
                background-color: inherit;
            }
        }
    }

    li a{
        padding: .5em;
        margin-left:1em;
        border-radius: 30px;
        &:hover{
            background: white;
            color: black;
        }
    }

    i{
        margin-right: .4em;
    }

    .userTile{
        position: absolute;
        max-height: 350px;
        width: 270px;
        right: 140px;
        -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
        box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
        background-color: white;
        
        ul{
            padding: 0px;
            text-align: center;
            list-style: none;
        }

    }

    .cartTile{
        position: absolute;
        max-height: 650px;
        width: 270px;
        right: 0px;
        -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
        box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
        background-color: white;
        text-align: center;
        ul{
            padding: 0px;
            text-align: center;
            list-style: none;
        }
        a{
            color: black;
            text-decoration: none;
            &:hover{
                background: black;
                color: white;
            }
        }
    }
    
}