$primary: black;

.container {
    margin: 0 auto;
    padding-top: 4em;
}

// header{
//     background: $primary;
//     padding: .6em 0;
//     width: 100;
//     position: relative;
.navbar{
    padding: .5em 14%;
    background-color: black;
    a{
        padding:.466em;
        border-radius: 30px;
        margin-right: 10px;
        &:hover{
            background: white;
            color: black;
            text-decoration: none;
        }
    }
    a.logo{
        font-weight: bold;  
        align-self: center;
        height: 100%;
        padding: 0px;
        &:hover{
            background-color: inherit;
        }
    }

    .userwhole{
        border-radius: 30px;
        margin-right: 1em;
        position: relative;
        a{  
            margin-right: 0px;
            color: white;
            &:hover{
                background: white;
                color: black;
            }
        }
    }

    i{
        margin-right: .4em;
    }
    
    .userTile{
        position: absolute;
        height: 310px;
        width: 270px;
        top:67px;
        right: 0px;
        box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
        background-color: white;
        text-align: center;
        padding: 1em 1.7em;
        display: inline;
        border-radius: 5px;
        
        h5{
            font-weight: bold;
        }
        h6{
            margin: 8px 0;
            font-weight: bold;
        }
        p{  
            text-align: left;
            margin: 0 0 5px;
            font-size: 15px;
            font-weight: bold;
        }
        p#register{
            text-align: center;
            font-weight: inherit;
            span{
                cursor: pointer;
                font-weight: bold;
                text-decoration: underline;
            }
        }
        input{
            padding-left: 10px;
            font-size: 15px;
            width: 100%;
            padding: 5px 0 5px 5px;
            margin-bottom: 15px;
        }
        a{
            color: black;
            font-size: 14px;
            font-weight: bold;
            align-self: center;
            padding: .6em;
            border-radius: 30px;
            text-decoration: none;
            &:hover{
                background: black;
                color: white;
            }
        }
    }
    .userTile:after,

    .userTile:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        bottom: -2em;
        top: 0px;
        
        right: 35px;
        box-sizing: border-box;
        
        border: .5em solid black;
        border-color: transparent transparent #ffffff #ffffff;
        
        transform-origin: 0 0;
        transform: rotate(135deg);
        
        box-shadow: -3px 3px 2.7px 0 rgba(0, 0, 0, 0.048);
    }
 }

.navbar#categorias{
    padding: 0em 14%;
    a{
        padding: .3em;
        border-radius: 0px;
        color:gray;
        font-size: 15px;
        &:hover{
            color:black;
        }
    }            
}

// Hover Animations

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(0, 0, 0);
    height: 2.5px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
