<div class="home" (window:resize)="onResize($event)">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <app-card [imgurl]="'https://tiendatelas.com/modules/homeslider/images/2a8ab041b7b54c3487e60de9bf8d58939c415949_telasmouflon.jpg'" [description]="description"></app-card>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/d391c73cb949e378ea23ed0f388fd1c22709a27c_gomaeva.jpg'" [description]="description"></app-card></div>
                    <div class="col"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/001dc0ab393a2a377c9d7b5613540308e99bcf10_telascoralina.jpg'" [description]="description"></app-card></div>
                </div>
                <div class="row">
                    <div class="col"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/7aabc81342934d7297f96a55165e082e1e4f83f7_telasdelentejuelas.jpg'" [description]="description"></app-card></div>
                    <div class="col"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/74bf7a3b695b9dd9879d4b205e4759fbb33f91c1_carnaval2020.jpg'" [description]="description"></app-card></div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/d9c09b266c24cb728685c54f9499c0bc4e0e2dd3_inspiraciontelasnavidad.jpg'" [description]="description"></app-card></div>
            <div class="col-md"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/45bb4e24a7a97540e7bdd2c644927213c1f49ae6_telascoralina.jpg'" [description]="description"></app-card></div>
            <div class="col-md"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/9460f127a3228aa3f373107fd7b132ec937cbc63_cuadorecoces.jpg'" [description]="description"></app-card></div>
            <div class="col-md"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/8e7f8a0baf3da2b3e7a8379c77d172b6775b6240_telasdeoutlet.jpg'" [description]="description"></app-card></div>
        </div>
    </div>
    <div class="container">
            <div class="title">
                <h2>Recomendaciones personalizadas</h2>
            </div>
            <app-slider [products]="newProducts"></app-slider>
            <div class="title">
                <h2>Novedades</h2>
            </div>
            <div class="row">
                <div class="col-md-5ths col-xs-6 square" *ngFor="let product of newProducts"><app-product [product]="product"></app-product></div>
            </div>
            <div class="title">
                <h2>Comparte tus creaciones!</h2>
            </div>
            <app-instafeed></app-instafeed>
    </div>
    
</div>

