<div class="home" (window:resize)="onResize($event)">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <app-card [imgurl]="'https://tiendatelas.com/modules/homeslider/images/2a8ab041b7b54c3487e60de9bf8d58939c415949_telasmouflon.jpg'" [description]="description"></app-card>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/d391c73cb949e378ea23ed0f388fd1c22709a27c_gomaeva.jpg'" [description]="description"></app-card></div>
                    <div class="col"><app-card [imgurl]="'https://tiendatelas.com/modules/homeslider/images/f82014ebd431c5d7782fdbb3be06c586cef5ca56_telasdeabrigo.jpg'" [description]="description"></app-card></div>
                </div>
                <div class="row">
                    <div class="col"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/caac1f91259c5287c9a8252929a984a6700e77f4_telasdelentejuelas.jpg'" [description]="description"></app-card></div>
                    <div class="col"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/870b684133d79f912dc0c42d409b3748d774b8b7_carnaval.jpg'" [description]="description"></app-card></div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/d9c09b266c24cb728685c54f9499c0bc4e0e2dd3_inspiraciontelasnavidad.jpg'" [description]="description"></app-card></div>
            <div class="col-md"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/6e12594bbf62e0f6485aa1dcd7cabbcf92e67c89_coralina.jpg'" [description]="description"></app-card></div>
            <div class="col-md"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/ea1cdd098180e12f44ac8ce5d6ddf88e99f9b862_cuadorecoces.jpg'" [description]="description"></app-card></div>
            <div class="col-md"><app-card [imgurl]="'https://tiendatelas.com/modules/themeconfigurator/img/5b073fda791634db39c194a84c4be36f5f4139ee_telasdeoutlet.jpg'" [description]="description"></app-card></div>
        </div>
    </div>
    <div class="container">
            <div class="title">
                <h2>Recomendaciones personalizadas</h2>
            </div>
            <app-slider [products]="newProducts"></app-slider>
            <div class="title">
                <h2>Novedades</h2>
            </div>
            <div class="row">
                <div class="col-md-5ths col-xs-6 square" *ngFor="let product of newProducts"><app-product [product]="product"></app-product></div>
            </div>
            <div class="title">
                <h2>Comparte tus creaciones!</h2>
            </div>
            <app-instafeed></app-instafeed>
    </div>
    
</div>

