.tnslider{
    position: relative;

    .controls{
        position: absolute;
        top: 50%;
        display: flex;
        flex-flow: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        .prev{
            display: flex;
            color: white;
        }
        .next{
            display: flex;
            color: white;
            margin-left: auto;
            justify-self: flex-end;
        }
    }
    
}