<div class="tnslider">
        <ngx-tiny-slider [config]="tinySliderConfig">
                <ng-container class="items" style="text-align: center;">
                        <div class="item">
                                <app-product></app-product>
                        </div>
                        <div class="item">
                                <app-product></app-product>
                        </div>
                        <div class="item">
                                <app-product></app-product>
                        </div>
                        <div class="item">
                                <app-product></app-product>
                        </div>
                        <div class="item">
                                <app-product></app-product>
                        </div>
                        <div class="item">
                                <app-product></app-product>
                        </div>
                </ng-container>
                
        </ngx-tiny-slider>
        <div class="customize-tools">
                <div class="controls" id="customize-controls">
                        <div class="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </div>
                        <div class="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                </div>
                
        </div>
</div>