.slidersection{
    position: relative;
    margin-top: 3em;
    height: 665px;
    .imageslid{
        position: relative;
        z-index: -1;
        scrollbar-width: 0px;
        img{
            height: 665px;
            position: absolute;
        }
    }
    .inside{
        padding: 10em 14%;
        color:white;
        h1{
            font-weight: bold;
            font-size: 50px;
        }
        h6{
            font-weight: bold;
        }
        p{  
            margin-top: 2em;
            max-width: 600px;
        }
        .discount-pop{
            height: 150px;
            width: 150px;
            border-radius: 100px;
            background: #F51167;
            float:right;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            h1{
                font-weight: bold;
                margin: 0;
            }
            h6{
                margin: 0;
            }
            p{
                margin: 0 0;
            }
            
        }
        .buttons{
            margin-top:3em;
            display: flex;
            
            i{
                align-self: center;
                cursor: pointer;
            }
            .dot {
                height: 10px;
                width: 10px;
                margin: 0 5px;
                background-color: rgb(255, 255, 255);
                border-radius: 50%;
                display: inline-block;
                align-self: center;
                transition: opacity 0.6s ease;
              }
        }
    }
}