<div class="tnslider" *ngIf="products">
        <ngx-tiny-slider [config]="tinySliderConfig">
                <ng-container class="items" >
                        <div class="item">
                                <app-product [product]="products[3]"></app-product>
                        </div>
                        <div class="item">
                                <app-product [product]="products[2]"></app-product>
                        </div>
                        <div class="item">
                                <app-product [product]="products[0]"></app-product>
                        </div>
                        <div class="item">
                                <app-product [product]="products[7]"></app-product>
                        </div>
                        <div class="item">
                                <app-product [product]="products[5]"></app-product>
                        </div>
                        <div class="item">
                                <app-product [product]="products[4]"></app-product>
                        </div>
                        <div class="item">
                                <app-product [product]="products[5]"></app-product>
                        </div>
                        <div class="item">
                                <app-product [product]="products[1]"></app-product>
                        </div>
                        <div class="item">
                                <app-product [product]="products[8]"></app-product>
                        </div>
                </ng-container>
        </ngx-tiny-slider>
        <div class="customize-tools">
                <div class="controls" id="customize-controls">
                        <div class="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </div>
                        <div class="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                </div>
        </div>
</div>