<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col">Producto</div>
                <div class="col"></div>
                <div class="col">Precio</div>
                <div class="col">Cantidad</div>
                <div class="col">Total</div>
            </div>
            <div *ngFor="let product of products; let i = index" class="row">
                    <div class="col"><img src="{{product.fotoURL}}" alt=""></div>
                    <div class="col">{{product.descripcion}}</div>
                    <div class="col">{{product.precio}}</div>
                    <div class="col"><input type="text" pInputText [(ngModel)]="quantity[i]" (ngModelChange)="quantityChange(i)"></div>
                    <div class="col">{{ptotal[i]}}</div>
            </div>
        </div>
        <div class="col-sm-4">
            <p>Subtotal: <a>${{subtotal}}</a></p>
            <p>Dcto en productos: <a>$0</a></p>
            <p>Gastos de envio: <a>$8740</a></p>
            <p id="total">Total: <a>${{subtotal+8740}}</a></p>
            <button>Finalizar Compra</button>
        </div>
    </div>
</div>
