<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col">Producto</div>
                <div class="col"></div>
                <div class="col">Precio</div>
                <div class="col">Cantidad</div>
                <div class="col">Total</div>
            </div>
            <div class="row">
                    <div class="col">img</div>
                    <div class="col"></div>
                    <div class="col">666550</div>
                    <div class="col">1</div>
                    <div class="col">920320</div>
            </div>
        </div>
        <div class="col-sm-4">
            <p>Subtotal: <a>$12990</a></p>
            <p>Dcto en productos: <a>$1990</a></p>
            <p>Gastos de envio: <a>$8740</a></p>
            <p id="total">Total: <a>$31450</a></p>
            <button>Finalizar Compra</button>
        </div>
    </div>
</div>
