<div class="container">
    <h2>Crear nueva cuenta</h2>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="nombre" placeholder="Nombre">
        </div>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="apellidos" placeholder="Apellidos">
        </div>
        <div class="w-100"></div>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="email" placeholder="Contraseña">
        </div>
        <div class="w-100"></div>
        <div class="col-sm-3">
            <input type="text" [(ngModel)]="direccion" placeholder="Direccion">
        </div>
        <div class="col-sm-3">
            <input type="text" [(ngModel)]="telefono" placeholder="Telefono">
        </div>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="fecha" placeholder="Birthday">
        </div>
    </div>
    <p><input type="checkbox" name="" id="">Acepto Terminos y condiciones</p>
    <a href="#" (click)="register()">Registrar</a>
</div>

