.card{
    position: relative;
    margin-top: 0.8em;
    img{
        height: 100%;
        width: 100%;
    }
    .hov{
        position: absolute;
        top: 70%;
        padding: 1em;
    }

}

