.card{
    cursor: pointer;
    position: relative;
    margin-top: 0.8em;
    img{
        height: 100%;
        width: 100%;
    }
    .hov{
        
        position: absolute;
        display: flex;
        bottom: 20%;
        left: 0;
        max-width: 90%;
        background-color: rgba(0, 0, 0, 0.473);
        padding: 1.2em 20%;
        p{
            color: white;
            font-size: 14px;
            margin: 0;
            font-weight: bold;
        }
    }

}

